<!DOCTYPE html>
<html lang="en" class="bg-slate-200 flex flex-col">
<head>
  <meta charset="UTF-8">
  <title>Chat server</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="">
<div class="fixed ring ring-4 ring-blue-800  flex flex-col inset-0">
  <div class="max-w-lg m-6 rounded-md shadow-lg shadow-black bg-slate-100 flex flex-col flex-grow overflow-hidden">
    <div class="flex-grow">

    </div>
    <form id="form" class="bg-white flex rounded">
      <input name="message" type="text" class="outline-none px-2 flex-grow" placeholder="Message" />
      <input type="submit" class=" bg-sky-700 px-4 hover:bg-sky-500 text-white py-2 rounded-r" value="send" />
    </form>
  </div>
</div>
<script>

  document.querySelector("#form").addEventListener('submit', handleSend)
  function  handleSend(e) {
    e.preventDefault()
    fetch("http://localhost:8080/send", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        "Accept": "application/json"
      },
      body: JSON.stringify({
        message: e.target.message.value,
        who: "party1"
      })
    })
            .then(response => {
              (response.status)
            })
  }
</script>
</body>
</html>